.card {
    transition: transform 0.2s ease-in-out;
    border: 1px solid #006699 !important;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .modal-content {
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  
  h2 {
    font-size: 2rem;
  }
  