<nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Early Intervention at YorkU</a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse d-flex" id="navcol-1">
          <div class="col d-flex justify-content-end">
              <div class="log-sin btn btn-light action-button" role="button" (click)="logout()">Logout</div>
          </div>
      </div>
  </div>
</nav>


<div class="instructor-cards row flex-row">
  <h2 style="color: black;" class="text-center">How would you like to proceed?</h2>
  <div class="card me-5">
    <img
      class="card__background"
      src="../../../assets/images/2149241014.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Pre Trained</h2>
        <p class="card__description mb-0">
          Choose from one of our Pre-Trained models.
        </p>
      </div>
      <button class="card__button m-0" (click)="goToPrediction()">Read more</button>
    </div>
  </div>

  <div class="card">
    <img
      class="card__background"
      src="../../../assets/images/2148950575.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Bespoke</h2>
        <p class="card__description mb-0">
          Train your own model tailored to your needs.
        </p>
      </div>
      <button class="card__button m-0" (click)="goToCreateModel()">Read more</button>
    </div>
  </div>
</div>

  