/* Add this to your component stylesheet or global styles.css */

.text-center {
  text-align: center;
}

.card .card-body {
  padding: 1.5rem;
}

.list-header {
  color: #006699;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

h2, h5{
  color: #006699;
}

ul.list-unstyled {
  padding-left: 0;
  margin-bottom: 1rem;
  list-style: none;
}

ul.list-unstyled li {
  line-height: 1.6;
}
